{% extends "base.html" %}
{% block content %}

<h2>Add New Team:</h2>

<form action="/teams" method="POST">
    <div>
        <label for="name">Team Name:</label>
        <input type="text" id="name" name="name">
        <label for="coach">Coach Name:</label>
        <input type="text" id="coach" name="coach">
        <label for="wins">Wins:</label>
        <input type="text" id="wins" name="wins">
        <label for="losses">Losses:</label>
        <input type="text" id="losses" name="losses">
        <input type="submit">
    </div>
</form>

{% endblock %}