body {
    background-image: url("/static/images/nfl_image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body > header > h1 {
    color: red;
    font-size: 3em;
    text-shadow: 2px 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header > h3 {
    color: red;
    font-size: 2.5em;
    text-shadow: 2px 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > li {
    float: left;
    display: table;
    list-style-type: none;
    text-align: center;
    font-size: 1.8em;
    padding: 25px 25px;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: left;
    color: white;
    /* text-shadow: 2px 2px white; */
}

.form-colour {
    text-shadow: 2px 2px whitesmoke;
    font-size: 2em;
}

body > footer {
    position: relative;
    right: -650px;
    bottom: 0px;
    color: black;
    text-shadow: 1px 1px whitesmoke;
    font-size: 1.2em;
}

.button {
    background-color: whitesmoke;
    color: black;
    /* float: left; */
    font-size: 1em;
    padding: 5px 5px;
    border-radius: 12px;
    transition-duration: 0.4s;
    list-style-type: none;
}
  
  .button:hover {
    background-color: slategrey;
    color: whitesmoke;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  .base-text {
    color: red;
    font-size: 3em;
    text-shadow: 2px 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}