body {
    background-image: url("/static/images/nfl_image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body > header > h1 {
    color: red;
    font-size: 3em;
    text-shadow: 2px 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header > h3 {
    color: red;
    font-size: 2.5em;
    text-shadow: 2px 2px blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    float: left;
    display: table;
    list-style-type: none;
    text-align: center;
    font-size: 2.5em;
    padding: 25px 25px;
    text-decoration: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: left;
    color: white;
    /* text-shadow: 2px 2px white; */
}
