{% extends "base.html" %}
{% block content %}

<h2>Edit game type:</h2>

<form action="/games/{{ game.id }}" method="POST">
    <div>
        <label for="name">Edit Game:</label>
        <input type="text" id="name" name="name" value="{{ game.name }}">
        <input type="text" id="home_team" name="home_team" value="{{ game.home_team }}">
        <input type="text" id="away_team" name="away_team" value="{{ game.away_team }}">
        <input type="submit" class="button">
    </div>
</form>

{% endblock %}