{% extends "base.html" %}
{% block content %}

<h2>Edit game type:</h2>

<form action="/games/{{ game.id }}" method="POST">
    <div>
        <input type="text" id="name" name="name">
        <select name="home_team_id" id="home_team_id">
            <option value="">Select home team</option>
            {% for team in teams %}
            <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <select name="away_team_id" id="away_team_id">
            <option value="">Select away team</option>
            {% for team in teams %}
            <option value="{{ team.id }}">{{ team.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" class="button">
    </div>
</form>

{% endblock %}