<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>NFL Scores App</title>
</head>
<body>
    <header>
        <h1>Fantasy-NFL.com.net.org.io.uk</h1>
        <h3>Don't let this fantasy be your dirty little secret.</h3>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    <ul>
                        <li><a href="/teams">Teams</a></li>
                        <li><a href="/teams/new"><button>Create New Team</button></a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/games/new"><button>Create New Game</button></a></li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <li><a href="/players">Players</a></li>
                        <li><a href="/players/new"><button>Create New Player</button></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>