<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>NFL Scores App</title>
</head>
<body>
    <header>
        <h1>NFL.com.net.org.io.uk</h1>
        <h3>We keep score, so you don't have to.</h3>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    Teams
                    <ul>
                        <li><a href="/teams">View All Teams</a></li>
                        <li><a href="/teams/new">Add New Team</a></li>
                    </ul>
                </li>
                <li>
                    Games
                    <ul>
                        <li><a href="/games">View All Games</a></li>
                        <li><a href="/games/new">Add New Game</a></li>
                    </ul>
                </li>
                <li>
                    Results
                    <ul>
                        <li><a href="/results">View All Results</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>